@charset "UTF-8";
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.section {
  padding: 60px 0;
}
.section--dark-bg {
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .section--mobile-and-tablet-hidden {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section--no-padding-top {
    padding-top: 0;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.main-nav {
  display: flex;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__part {
  color: #000000;
}
.logo__part--light {
  color: #ffffff;
}

.mobile-menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  color: #2196f3;
}
.mobile-menu-btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn__icon {
  fill: currentColor;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list__item {
  position: relative;
}

.nav-list__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link--active {
  color: #2196f3;
}
.nav-list__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    gap: 50px;
  }
}

.contact-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contact-list__link {
    padding: 32px 0;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero-section {
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/0-hero/hero-3200.jpg);
  }
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}
.button--with-icon {
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 2 - 1)) / 2 елемента в рядку */
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
    flex-basis: calc((100% - 90px) / 4);
  }
}

.feature-list__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .feature-list__title:not(:last-child) {
    text-align: center;
  }
}

.feature-list__description {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.7142857143;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елемента в рядку */
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.work-list__image-thumb {
  position: relative;
}

.work-list__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 27px 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 2 - 1)) / 2 елемента в рядку */
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
    flex-basis: calc((100% - 90px) / 4);
    max-width: 270px;
  }
}

.team-list__description {
  padding: 30px 20px;
  text-align: center;
}

.team-list__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}

.team-list__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.social-list__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  fill: currentColor;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .client-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 2 - 1)) / 2 елементів в рядку */
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елементів в рядку */
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 6 - 1)) / 6 елементів в рядку */
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-list__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-top-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-top-wrap {
    gap: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-top-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-wrap {
    margin-right: auto;
  }
}

.call-to-action {
  display: block;
  margin-bottom: 20px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .address-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    margin-right: 93px;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  font-style: normal;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}
.address-list__link--white {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscription-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    gap: 12px;
    width: 570px;
  }
}

.subscription-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  outline: none;
  border-color: #2196f3;
}
.subscription-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 1199px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  transform: scale(0.5);
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: #2196f3;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  overflow-y: auto;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  pointer-events: initial;
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__nav-list {
  margin-bottom: 64px;
}

.mobile-menu__nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: #2196f3;
}
.mobile-menu__nav-link--active {
  color: #2196f3;
}

.mobile-menu__contact-group {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__phone-link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 440px) {
  .mobile-menu__phone-link {
    font-size: 24px;
  }
}

.mobile-menu__email-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mobile-menu__social-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 440px) {
  .mobile-menu__social-list {
    max-width: 220px;
  }
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 440px) {
  .mobile-menu__social-item:nth-child(2n) {
    border: none;
  }
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.request-form__tittle {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .request-form__tittle {
    line-height: 1.15;
  }
}

.request-form__field {
  display: block;
  margin-bottom: 10px;
}

.request-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.request-form__input-icon-thumb {
  display: block;
  position: relative;
}

.request-form__input {
  display: block;
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.request-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  pointer-events: none;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Вариант БЕЗ :focus-within (залежить від послідовності елементів в розмітці, але на 100% підтримується всіма браузерами) */
  /* Для того, щоб спрацювали селектори + або ~ треба щоб icon-іnput йшов в розмітці НИЖЧЕ form-input (+ для першого сусіда ЗНИЗУ ~ для будь-якого сусіда ЗНИЗУ) */
}
.request-form__input:focus ~ .request-form__input-icon {
  fill: #2196f3;
}

.request-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}
.request-form__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .request-form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .request-form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .request-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.request-form__checkbox-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Позиціонуємо текст-підказку оригінального чекбоксу (прихований через visually-hidden) так, щоб вона вказувала саме на кастомний чекбокс */
.request-form__checkbox-input {
  top: 20px;
  left: 30px;
}

/* Кастомний чекбокс через пустий span у розмітці (оригінальний чекбокс прихований за допомогою паттерну visually-hidden) */
.request-form__checkbox-icon {
  min-width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Для того, щоб спрацюв селектор ~ треба щоб icon-checkbox йшов в розмітці НИЖЧЕ checkbox-input (~ для будь-якого сусіда ЗНИЗУ) */
  /* Для того, щоб спрацюв селектор ~ треба щоб icon-checkbox йшов в розмітці НИЖЧЕ checkbox-input (~ для будь-якого сусіда ЗНИЗУ) */
}
.request-form__checkbox-icon:hover, .request-form__checkbox-input:focus ~ .request-form__checkbox-icon {
  border-color: #2196f3;
}
.request-form__checkbox-input:checked ~ .request-form__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.request-form__checkbox-label {
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .request-form__checkbox-label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.request-form__checkbox-label-link {
  color: #2196f3;
}

.request-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    justify-content: start;
    max-width: 325px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .example-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .example-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 2 - 1)) / 2 елементів в рядку */
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .example-list__item {
    /* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елементів в рядку */
    flex-basis: calc((100% - 60px) / 3);
    max-width: 370px;
  }
}

.example-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list__link:hover, .example-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list__image-thumb {
  position: relative;
  overflow: hidden;
}

.example-list__image-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  /* Заборонємо виділяти текст оверлея */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Вмикаємо скрол при необхідності */
  overflow-y: auto;
  /* Змістив додатково на 1% оскільки при масштабуванні сторінки з'являється тонка синя смуга знизу */
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list__link:hover .example-list__image-overlay-text, .example-list__link:focus .example-list__image-overlay-text {
  transform: translateY(0);
}

.example-list__description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.example-list__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */