/* Змінні */

:root {
	--text-primary-color: #757575;
	--text-secondary-color: #212121;
	--text-additional-color: #000000;
	--text-white-color: #ffffff;
	--text-transparent-color: rgba(255, 255, 255, 0.6);

	--bg-primary-color: #ffffff;
	--bg-secondary-color: #f5f4fa;
	--bg-additional-color: #2f303a;

	--accent-color: #2196f3;
}

/* Загальні стилі */

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;

	color: var(--text-primary-color);
	background-color: var(--bg-primary-color);
}

.list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: inherit;
}

.button {
	font-size: 16px;

	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.interactive:hover,
.interactive:focus {
	outline: none;
	color: var(--accent-color);
}

/* Тимчасові стилі - при стилізації позиціонування прибрати*/

h1,
h2,
h3,
p {
	margin: 0;
}

/* Хедер */

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

	color: var(--accent-color);
}

.header-logo {
	color: var(--text-additional-color);
}

.nav-link {
	color: var(--text-secondary-color);
}

/* Герой */

.hero {
	background-color: var(--bg-additional-color);
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: var(--text-white-color);
}

.hero-btn {
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--text-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
	outline: none;
	background: #188ce8;
}

/* Особливості */

.features-sub-title {
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--text-secondary-color);
}

.features-text {
	line-height: 1.71;
}

/* Чим ми займаємося */

.section-title {
	font-size: 36px;
	line-height: 1.17;

	color: var(--text-secondary-color);
}

/* Наша команда */

.team {
	background-color: var(--bg-secondary-color);
}

.team-item {
	background-color: var(--bg-primary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	color: var(--text-secondary-color);
}

.team-position {
	font-size: 16px;
	line-height: 1.19;
}

/* Футер */

.footer {
	background: var(--bg-additional-color);
}

.footer-logo {
	color: var(--text-white-color);
}

.address-link {
	font-style: normal;
	line-height: 1.71;

	color: var(--text-transparent-color);
}

.map-link {
	color: var(--text-white-color);
}

/* Портфоліо */

.filter-btn {
	font-weight: 500;
	line-height: 1.63;
	letter-spacing: 0.03em;

	color: var(--text-secondary-color);
	background-color: var(--bg-secondary-color);
}

.filter-btn:hover,
.filter-btn:focus {
	outline: none;
	color: var(--text-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Список робіт */

.example-item {
	border: 1px solid #eeeeee;
}

.example-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--text-secondary-color);
}

.example-text {
	line-height: 1.88;
}
