/* Змінні */

:root {
	--text-primary-color: #757575;
	--text-secondary-color: #212121;
	--text-additional-color: #000000;
	--text-white-color: #ffffff;
	--text-transparent-color: rgba(255, 255, 255, 0.6);

	--bg-primary-color: #ffffff;
	--bg-secondary-color: #f5f4fa;
	--bg-additional-color: #2f303a;
	--icon-color: #afb1b8;

	--accent-color: #2196f3;

	--transition-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Загальні стилі */

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;

	color: var(--text-primary-color);
	background-color: var(--bg-primary-color);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.link {
	color: inherit;

	text-decoration: none;
}

.button {
	font-size: 16px;

	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.interactive {
	transition: color var(--transition-parameters);
}

.interactive:hover,
.interactive:focus {
	color: var(--accent-color);
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Патерн Visually hidden */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Хедер */

.header {
	border-bottom: 1px solid #ececec;
}

.header-container {
	display: flex;
}

.main-nav {
	display: flex;
}

.header-logo {
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;
}

.logo {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	color: var(--accent-color);
}

.header-logo-part {
	color: var(--text-additional-color);
}

.nav-list {
	display: flex;
}

.nav-item {
	position: relative;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	display: inline-block;
	padding: 32px 0;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	color: var(--text-secondary-color);
}

.active {
	color: var(--accent-color);
}

.active::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: -1px;

	width: 100%;
	height: 4px;

	background-color: var(--accent-color);
	border-radius: 2px;
}

.contact-list {
	display: flex;
	margin-left: auto;
}

.contact-item:not(:last-child) {
	margin-right: 50px;
}

.contact-link {
	display: flex;
	padding: 32px 0;
	align-items: center;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.icon-contact {
	margin-right: 10px;
	fill: currentColor;
}

/* Герой */

.hero {
	max-width: 1600px;
	margin: 0 auto;
	padding: 200px 0;
	text-align: center;

	background-color: #c4c4c4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: var(--text-white-color);
}

.hero-btn,
.submit-btn {
	min-width: 200px;
	padding: 10px 32px;

	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--text-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color var(--transition-parameters);
}

.hero-btn:hover,
.hero-btn:focus,
.submit-btn:hover,
.submit-btn:focus {
	background-color: #188ce8;
}

/* Особливості */

.section {
	padding: 94px 0;
}

.features-list {
	display: flex;
	gap: 30px;
}

.features-item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
	flex-basis: calc((100% - 30px * (4 - 1)) / 4);
}

.features-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;

	background: var(--bg-secondary-color);
	border-radius: 4px;
}

.features-sub-title {
	margin-top: 0;
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--text-secondary-color);
}

.features-text {
	margin-bottom: 0;
	margin-top: 0;

	line-height: 1.71;
}

/* Чим ми займаємося */

.work-section {
	padding-top: 0;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	color: var(--text-secondary-color);
}

.work-list {
	display: flex;
	gap: 30px;
}

.work-item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елемента в рядку */
	flex-basis: calc((100% - 30px * (3 - 1)) / 3);
}

.work-thumb {
	position: relative;
}

.work-label {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	margin: 0;
	padding: 27px 20px;

	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	color: var(--text-white-color);
	background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.team {
	background-color: var(--bg-secondary-color);
}

.team-list {
	display: flex;
	gap: 30px;
}

.team-item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
	flex-basis: calc((100% - 30px * (4 - 1)) / 4);

	background-color: var(--bg-primary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-description {
	padding: 30px 20px;
	text-align: center;
}

.team-name {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	color: var(--text-secondary-color);
}

.team-position {
	margin-top: 0;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
}

/* Іконки соц. мереж команди */

.social-list {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.social-item {
	width: 44px;
	height: 44px;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	color: var(--icon-color);
	border-radius: 50%;

	transition: color var(--transition-parameters), background-color var(--transition-parameters);
}

.social-link:hover,
.social-link:focus {
	color: var(--text-white-color);
	background-color: var(--accent-color);
}

.icon-social {
	fill: currentColor;
}

/* Постійні клієнти */

.clients-list {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.client-item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 6 - 1)) / 6 елементів в рядку */
	flex-basis: calc((100% - 30px * (6 - 1)) / 6);
}

.client-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92px;

	color: var(--icon-color);
	border: 1px solid var(--icon-color);
	border-radius: 4px;

	transition: border-color var(--transition-parameters), color var(--transition-parameters);
}

.client-link:hover,
.client-link:focus {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.icon-clients {
	fill: currentColor;
}

/* Футер */

.footer {
	padding: 60px 0;

	background: var(--bg-additional-color);
}

.footer-wrap {
	display: flex;
	align-items: baseline;
}

/* Блок адреси футера */

.footer-address-wrap {
	margin-right: 93px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer-logo-part {
	color: var(--text-white-color);
}

.address-item:not(:last-child) {
	margin-bottom: 9px;
}

.address-link {
	font-style: normal;
	line-height: 1.71;

	color: var(--text-transparent-color);
}

.map-link {
	color: var(--text-white-color);
}

/* Блок соц. мереж футера */

.footer-call-to-action {
	display: block;
	margin-bottom: 20px;

	line-height: 1.14;
	text-transform: uppercase;

	color: var(--text-white-color);
}

.footer-social {
	margin-right: 93px;
}

.footer-social-link {
	color: var(--text-white-color);
	background-color: rgba(255, 255, 255, 0.1);
}

/* Блок підписки футера */

.footer-form-input {
	width: 358px;
	margin-right: 12px;
	padding: 14px 16px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: var(--text-white-color);
	background-color: transparent;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	transition: border-color var(--transition-parameters);
}

.footer-form-input:hover,
.footer-form-input:focus {
	outline: none;
	border-color: var(--accent-color);
}

.footer-form-input::placeholder {
	color: var(--text-transparent-color);
}

.footer-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-left: 28px;
	padding-right: 28px;
}

.footer-btn-text {
	display: inline-block;
	margin-right: 10px;
}

.icon-btn {
	fill: currentColor;
}

/* Модальне вікно */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity var(--transition-parameters), visibility var(--transition-parameters);
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	height: 581px;

	background: var(--bg-primary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition-parameters);
}

.modal-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	padding: 0;

	background-color: var(--bg-primary-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;
}

/* Портфоліо */

.filter-list {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-btn {
	min-width: 73px;
	padding: 6px 22px;

	font-weight: 500;
	line-height: 1.63;
	letter-spacing: 0.03em;

	color: var(--text-secondary-color);
	background-color: var(--bg-secondary-color);

	transition: color var(--transition-parameters), background-color var(--transition-parameters),
		box-shadow var(--transition-parameters);
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--text-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Список робіт */

.example-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.example-item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 6 - 1)) / 6 елементів в рядку */
	flex-basis: calc((100% - 30px * (3 - 1)) / 3);
}
.example-link {
	display: inline-block;

	transition: box-shadow var(--transition-parameters);
}

.example-link:hover,
.example-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-thumb {
	position: relative;
	overflow: hidden;
}

.example-overlay-text {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	margin: 0;
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--text-white-color);

	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform var(--transition-parameters);
}

.example-link:hover .example-overlay-text,
.example-link:focus .example-overlay-text {
	transform: translateY(0);
}

.example-description {
	padding: 20px 24px;

	border: 1px solid #eeeeee;
	border-top: none;
}

.example-title {
	margin-top: 0;
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--text-secondary-color);
}

.example-text {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
