.address-wrap {
	margin-right: 93px;
}

.address-list {
	@extend %listReset;
}

.address-list__item:not(:last-child) {
	margin-bottom: 9px;
}

.address-list__link {
	font-style: normal;
	line-height: calc(24 / 14);
	text-decoration: none;

	color: $text-transparent-color;

	transition: color $transition-parameters;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--white {
		color: $text-white-color;
	}
}
