.address-wrap {
	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 93px;
	}
}

.address-list__item:not(:last-child) {
	margin-bottom: 8px;
}

.address-list__link {
	font-style: normal;
	line-height: calc(24 / 14);

	color: $text-transparent-color;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--white {
		color: $text-white-color;
	}
}
