.button {
	@include flexCenteringXY(inline-flex);
	min-width: 200px;
	padding: 10px 32px;

	font-size: 16px;
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: $text-white-color;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color $transition-parameters;

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

.button__icon {
	margin-left: 10px;
	fill: currentColor;
}

.subscription-form__button {
	padding-left: 28px;
	padding-right: 28px;
}
