.client-list {
	@extend %listReset;

	display: flex;
	gap: 30px;
	justify-content: center;
}

.client-list__item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 6 - 1)) / 6 елементів в рядку */
	flex-basis: calc((100% - 30px * (6 - 1)) / 6);
}

.client-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92px;

	text-decoration: none;

	color: $icon-color;
	border: 1px solid $icon-color;
	border-radius: 4px;

	transition: border-color $transition-parameters, color $transition-parameters;

	&:hover,
	&:focus {
		border-color: $accent-color;
		color: $accent-color;
	}
}

.client-list__icon {
	fill: currentColor;
}
