.close-btn {
	@include flexCenteringXY();
	width: 30px;
	height: 30px;
	padding: 0;

	background-color: $bg-primary-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.close-btn__icon {
	transition: fill $transition-parameters;

	.close-btn:hover &,
	.close-btn:focus & {
		fill: $accent-color;
	}
}
