.close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 0;

	background-color: $bg-primary-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.modal__close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
}

.close-btn__icon {
	transition: fill $transition-parameters;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
	fill: $accent-color;
}
