.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__container {
	display: flex;
}

.footer__container {
	display: flex;
	align-items: baseline;
}

.section {
	padding: 94px 0;
}

.section--no-padding-top {
	padding-top: 0;
}

.section--dark-bg {
	background-color: $bg-secondary-color;
}

.section__title {
	margin-top: 0;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	color: $text-secondary-color;
}
