.contact-list {
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 50px;
	}
}

.contact-list__link {
	@include flexCenteringXY();
	justify-content: start;

	font-weight: 500;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@media screen and (min-width: 1200px) {
		padding: 32px 0;
	}
}

.contact-list__icon {
	margin-right: 10px;
	fill: currentColor;
}
