.contact-list {
	display: flex;
	gap: 50px;

	@extend %listReset;
}

.contact-list__link {
	@include flexCenteringXY();
	padding: 32px 0;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: inherit;

	transition: color $transition-parameters;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contact-list__icon {
	margin-right: 10px;
	fill: currentColor;
}
