.example-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	list-style: none;
}

.example-list__item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елементів в рядку */
	flex-basis: calc((100% - 30px * (3 - 1)) / 3);
	max-width: 370px;
}

.example-list__link {
	display: inline-block;

	text-decoration: none;

	color: inherit;

	transition: box-shadow $transition-parameters;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.example-list__image-thumb {
	position: relative;
	overflow: hidden;
}

.example-list__image-overlay-text {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	margin: 0;
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: $text-white-color;
	background-color: rgba(33, 150, 243, 0.9);

	/* Заборонємо виділяти текст оверлея */
	user-select: none;

	/* Змістив додатково на 1% оскільки при масштабуванні сторінки з'являється тонка синя смуга знизу */
	transform: translateY(101%);

	transition: transform $transition-parameters;

	.example-list__link:hover &,
	.example-list__link:focus & {
		transform: translateY(0);
	}
}

.example-list__description {
	padding: 20px 24px;

	border: 1px solid #eeeeee;
	border-top: none;
}

.example-list__title {
	margin-top: 0;
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: $text-secondary-color;
}

.example-list__text {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
