.footer {
	padding: 60px 0;

	background: $bg-additional-color;
}

.footer__container {
	@include mobile-and-tablet-only {
		text-align: center;
	}

	@include desktop-up {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer-top-wrap {
	@include tablet-up {
		display: flex;
		justify-content: center;
		align-items: baseline;
	}

	@include tablet-only {
		gap: 165px;
	}

	@include mobile-and-tablet-only {
		margin-bottom: 60px;
	}
}

.social-wrap {
	@include desktop-up {
		margin-right: auto;
	}
}

.call-to-action {
	display: block;
	margin-bottom: 20px;

	line-height: calc(16 / 14);
	text-transform: uppercase;

	color: $text-white-color;
}
