.footer {
	padding: 60px 0;

	background: $bg-additional-color;
}

.social-wrap {
	margin-right: auto;
}

.call-to-action {
	display: block;
	margin-bottom: 20px;

	line-height: 1.14;
	text-transform: uppercase;

	color: $text-white-color;
}
