.header {
	border-bottom: 1px solid #ececec;
}

.header__container {
	display: flex;

	@include mobile-only {
		justify-content: space-between;
	}
}

.header__logo {
	padding-top: 16px;
	padding-bottom: 16px;

	@include tablet-up {
		margin-right: 88px;
		padding-top: 24px;
		padding-bottom: 25px;
	}

	@include desktop-up {
		margin-right: 93px;
	}
}

.main-nav {
	display: flex;
	margin-right: auto;

	@include mobile-only {
		display: none;
	}
}
