.hero-section {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding: 118px 0;

	text-align: center;

	background-color: #c4c4c4;
	// Фонове зображення 1х для мобільних пристроїв
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/0-hero/hero-480.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include pixel-ratio-2x {
		// Фонове зображення 2х для мобільних пристроїв
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/0-hero/hero-960.jpg);
	}

	@include tablet-up {
		max-width: 768px;
		// Фонове зображення 1х для планшетних пристроїв
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/0-hero/hero-768.jpg);
	}

	@include tablet-up {
		@include pixel-ratio-2x {
			// Фонове зображення 2х для планшетних пристроїв
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/0-hero/hero-1536.jpg);
		}
	}

	@include desktop-up {
		max-width: 1600px;
		padding: 200px 0;
		// Фонове зображення 1х для десктопних пристроїв
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/0-hero/hero-1600.jpg);
	}

	@include desktop-up {
		@include pixel-ratio-2x {
			// Фонове зображення 2х для десктопних пристроїв
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/0-hero/hero-3200.jpg);
		}
	}
}

.hero-section__title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 26px;
	line-height: calc(42 / 26);
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: $text-white-color;

	@include desktop-up {
		font-size: 44px;
		line-height: calc(60 / 44);
	}
}
