.hero-section {
	max-width: 1600px;
	margin: 0 auto;
	padding: 200px 0;

	text-align: center;

	background-color: #c4c4c4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-section__title {
	margin-top: 0;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: $text-white-color;
}
