.logo {
	font-family: $font-secondary;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(28 / 24);
	letter-spacing: 0.03em;
	text-decoration: none;

	color: $accent-color;

	@media screen and (min-width: 1200px) {
		font-size: 26px;
		line-height: calc(31 / 26);
	}
}

.header__logo {
	padding-top: 16px;
	padding-bottom: 16px;

	@media screen and (min-width: 768px) {
		margin-right: 88px;
		padding-top: 24px;
		padding-bottom: 25px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 93px;
	}
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
}

.logo__part {
	color: $text-additional-color;

	&--light {
		color: $text-white-color;
	}
}
