.mobile-menu-btn {
	@include flexCenteringXY(inline-flex);
	padding: 0;

	border: none;
	background-color: transparent;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--close {
		position: absolute;
		top: 10px;
		right: 15px;
	}

	@include tablet-up {
		display: none;
	}
}

.mobile-menu-btn__icon {
	fill: currentColor;
}
