.backdrop {
	@extend %backdrop;

	background-color: rgba(0, 0, 0, 0.2);

	// Вмикаємо скрол при необхідності
	overflow-y: auto;

	@include transition(opacity, visibility);

	&.is-hidden {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	@include mobile-and-tablet-only {
		padding: 93px 15px;
	}
}

.modal {
	position: relative;
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;

	background: $bg-primary-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: scale(1);

	@include transition(transform);

	.is-hidden & {
		transform: scale(0.5);
	}

	@include desktop-up {
		position: absolute;
		top: 50%;
		left: 50%;

		max-width: 528px;

		transform: translate(-50%, -50%) scale(1);

		@include transition(transform);

		.is-hidden & {
			transform: translate(-50%, -50%) scale(0.5);
		}
	}

	@include desktop-up {
	}
}

.modal__close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
}

.page.no-scroll {
	overflow: hidden;
}
