.backdrop {
	@extend %backdrop;

	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity $transition-parameters, visibility $transition-parameters;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	padding: 40px;

	background: $bg-primary-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);

	transition: transform $transition-parameters;

	.is-hidden & {
		transform: translate(-50%, -50%) scale(0.5);
	}
}
