.backdrop {
	@extend %backdrop;

	background-color: rgba(0, 0, 0, 0.2);

	// Вмикаємо скрол при необхідності
	overflow-y: auto;

	transition: opacity $transition-parameters, visibility $transition-parameters;

	&.is-hidden {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	@media screen and (max-width: 1199px) {
		padding: 93px 15px;
	}
}
.modal {
	position: relative;
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;

	background: $bg-primary-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: scale(1);

	transition: transform $transition-parameters;

	.is-hidden & {
		transform: scale(0.5);
	}

	@media screen and (min-width: 1200px) {
		position: absolute;
		top: 50%;
		left: 50%;

		max-width: 528px;

		transform: translate(-50%, -50%) scale(1);

		transition: transform $transition-parameters;

		.is-hidden & {
			transform: translate(-50%, -50%) scale(0.5);
		}
	}

	@media screen and (min-width: 1200px) {
	}
}
