.request-form__tittle {
	display: block;
	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: $text-secondary-color;
}

.request-form__field {
	display: block;
	margin-bottom: 10px;
}

.request-form__label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.request-form__input-icon-thumb {
	display: block;
	position: relative;
}

.request-form__input {
	display: block;
	width: 100%;
	padding: 11px 12px 11px 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color $transition-parameters;
}

.request-form__input:focus {
	outline: none;
	border-color: $accent-color;
}

.request-form__input-icon {
	position: absolute;
	top: 50%;
	left: 12px;

	fill: $icon-form-color;
	pointer-events: none;

	transform: translateY(-50%);

	transition: fill $transition-parameters;
}

/* --- Вариант БЕЗ :focus-within (залежить від послідовності елементів в розмітці, але на 100% підтримується всіма браузерами) ---*/

/* Для того, щоб спрацювали селектори + або ~ треба щоб icon-іnput йшов в розмітці НИЖЧЕ form-input (+ для першого сусіда ЗНИЗУ ~ для будь-якого сусіда ЗНИЗУ) */
.request-form__input:focus ~ .request-form__input-icon {
	fill: $accent-color;
}

.request-form__textarea {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;

	transition: border-color $transition-parameters;
}

.request-form__textarea:focus {
	outline: none;
	border-color: $accent-color;
}

.request-form__textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.request-form__checkbox-field {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 20px;
	margin-bottom: 30px;
}

/* Позиціонуємо текст-підказку оригінального чекбоксу (прихований через visually-hidden) так, щоб вона вказувала саме на кастомний чекбокс */
.request-form__checkbox-input {
	top: 20px;
	left: 30px;
}

/* Кастомний чекбокс через пустий span у розмітці (оригінальний чекбокс прихований за допомогою паттерну visually-hidden) */
.request-form__checkbox-icon {
	width: 16px;
	height: 15px;
	margin-right: 7px;

	border: 2px solid $text-secondary-color;
	border-radius: 2px;
	cursor: pointer;

	transition: border-color $transition-parameters;
}

/* Для того, щоб спрацюв селектор ~ треба щоб icon-checkbox йшов в розмітці НИЖЧЕ checkbox-input (~ для будь-якого сусіда ЗНИЗУ) */
.request-form__checkbox-icon:hover,
.request-form__checkbox-input:focus ~ .request-form__checkbox-icon {
	border-color: $accent-color;
}

/* Для того, щоб спрацюв селектор ~ треба щоб icon-checkbox йшов в розмітці НИЖЧЕ checkbox-input (~ для будь-якого сусіда ЗНИЗУ) */
.request-form__checkbox-input:checked ~ .request-form__checkbox-icon {
	border-color: $accent-color;
	background-color: $accent-color;
	background-image: url(../images/check.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: border-box;
}

.request-form__checkbox-label {
	line-height: 1.71;
}

.request-form__checkbox-label-link {
	color: $accent-color;
}

.request-form__button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
