.subscription-form {
	display: flex;
	gap: 12px;
}

.subscription-form__input {
	width: 358px;
	padding: 14px 16px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: $text-white-color;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	transition: border-color $transition-parameters;

	&:focus {
		outline: none;
		border-color: $accent-color;
	}

	&::placeholder {
		color: $text-transparent-color;
	}
}
