.team-list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.team-list__item {
	background-color: $bg-primary-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) {
		/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 2 - 1)) / 2 елемента в рядку */
		flex-basis: calc((100% - 30px * (2 - 1)) / 2);
	}

	@media screen and (min-width: 1200px) {
		/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
		flex-basis: calc((100% - 30px * (4 - 1)) / 4);
		max-width: 270px;
	}
}

.team-list__description {
	padding: 30px 20px;
	text-align: center;
}

.team-list__name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);

	color: $text-secondary-color;
}

.team-list__position {
	margin-bottom: 16px;

	font-size: 16px;
	line-height: calc(19 / 16);
}
