.team-list {
	display: flex;
	gap: 30px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	list-style: none;
}

.team-list__item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 4 - 1)) / 4 елемента в рядку */
	flex-basis: calc((100% - 30px * (4 - 1)) / 4);
	max-width: 270px;

	background-color: $bg-primary-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list__description {
	padding: 30px 20px;
	text-align: center;
}

.team-list__name {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	color: $text-secondary-color;
}

.team-list__position {
	margin-top: 0;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
}
