.work-list {
	@extend %listReset;

	display: flex;
	gap: 30px;
}

.work-list__item {
	/* (100% ширини - зазор gap 30px * (к-ть зазорів між елементам 3 - 1)) / 3 елемента в рядку */
	flex-basis: calc((100% - 30px * (3 - 1)) / 3);
	max-width: 370px;
}

.work-list__image-thumb {
	position: relative;
}

.work-list__label {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	margin: 0;
	padding: 27px 20px;

	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	color: $text-white-color;
	background-color: rgba(47, 48, 58, 0.8);
}
