@mixin flexCenteringXY($flex-type: flex) {
	display: $flex-type;
	justify-content: center;
	align-items: center;
}

@mixin transition($property...) {
	transition-property: $property;
	transition-duration: $transition-time;
	transition-timing-function: $transition-cubic;
}
