// fonts

$font-primary: "Roboto", Arial, sans-serif;
$font-secondary: "Raleway", Arial, sans-serif;

// colors

$text-primary-color: #757575;
$text-secondary-color: #212121;
$text-additional-color: #000000;
$text-white-color: #ffffff;
$text-transparent-color: rgba(255, 255, 255, 0.6);

$bg-primary-color: #ffffff;
$bg-secondary-color: #f5f4fa;
$bg-additional-color: #2f303a;

$icon-color: #afb1b8;
$icon-form-color: #212121;

$accent-color: #2196f3;

// transitions

$transition-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);
